a {
  font-size: 20px;
  height: 100px;
  background-color: #eaeaea;
  border:solid 4px #eaeaea;
  cursor: pointer;
  -moz-transition: background-color .5s;
  -moz-transition: border .5s;
  -webkit-transition: background-color .5s;
  -webkit-transition: border .5s;
  -o-transition: background-color .5s;
  -o-transition: border .5s;
  transition: background-color .5s;
  transition: border .5s;
}

a:hover {  
  background-color: #e1e1e1 !important;
  border:solid 4px #00669d;
}

span {
  margin: 0 20px;
  height: 100%;
}

.active{
  border:solid 4px #005e91;
  background-color: #e1e1e1 !important;
}
::selection {
    background: rgba(255,255,255,0);
}