<nav id="header" class="fixed-top navbar navbar-toggleable-md navbar-light border-top-0 border-right-0 border-left-0">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand telsat" href="#">
    <span class="row align-items-center">
      TELSAT
    </span>
  </a>
  <button-header [buttons]="buttons"></button-header>  
  <contact-us-button></contact-us-button>
</nav>
 <contact-us-form></contact-us-form> 