<div class="grid">
  <figure class="effect-apollo">
    <img src="assets/logos/telecomunicaciones.png" alt="img18">
    <figcaption>
      <h2><span>Telecomunicaciones</span></h2>
      <p>Maneja el área de telecomunicaciones, automatización, control, diseño, televisión, telefonía, audio, radioteléfonos y antenas de transmisión</p>
    </figcaption>
  </figure>
  <figure class="effect-apollo">
    <img src="assets/logos/seguridad.png" style="width: 100%" alt="img18">
    <figcaption>
      <h2><span>Seguridad</span></h2>
      <p>Maneja el área de sistemas de alta seguridad, alarmas, circuitos cerrados de televisión, control de acceso, blindajes, automatización de edificios y asesoría en edificaciones LEED</p>
    </figcaption>
  </figure>
  <figure class="effect-apollo">
    <img src="assets/logos/quimica-y-compuestos.png" alt="img18">
    <figcaption>
      <h2><span>Química y compuestos</span></h2>
      <p>Maneja el área de materiales de fibras de carbono, vidrio, kevlar, resinas de poliéster, epoxie, diseño y fabricación de partes y carbones activados</p>
    </figcaption>
  </figure>
  <figure class="effect-apollo">
    <img src="assets/logos/aeroespacial.png" style="width: 100%" alt="img18">
    <figcaption>
      <h2><span>Aeronáutica</span></h2>
      <p>Maneja el área de diseño aeronáutico, fabricación de aviones livianos, UAV, túneles de viento, canales de agua para pruebas aerodinámicas, sistemas de aviónica, comunicacion aeronáutica</p>
    </figcaption>
  </figure>
</div>