<div class="container" data-aos="fade-down">
  <section class="row">
    <div id="misionVision" class="col text-justify" *ngIf="mision && vision">
      <h3>{{mision.title}}</h3>
      <p class="misionVision">{{mision.info}}</p>
      <h3>{{vision.title}}</h3>
      <p class="misionVision">{{vision.info}}</p>
    </div>
  </section>
  <section class="row diagrams" *ngIf="philos && orgChart" >
    <div class="col-lg-6 col-sm-12 text-center">
      <h3>{{philos.title}}</h3>
      <img src="{{philos.img}}" class="img-fluid" alt="Filosofía">
    </div>
    <div class="col-lg-6 col-sm-12 text-center">
      <h3>{{orgChart.title}}</h3>
      <img src="{{orgChart.img}}" class="img-fluid" alt="Organigrama">
    </div>
  </section>

  <section class="row">
    <div class="col-6" *ngFor="let value of values">
      <h5>{{value.title}}</h5>
      <p class="text-justify">{{value.info}}</p>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <h3>Divisiones técnicas</h3>
      <divisiones></divisiones>
    </div>
  </section>
</div>