.diagrams {
  margin: 60px auto 50px auto;
}

@media screen and (max-width: 576px){/*extra small*/
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px !important;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {/*small*/
  h3 {
    font-size: 23px;
  }
  p {
    font-size: 17px !important;
    line-height: normal;
  }
}


@media screen and (min-width: 992px) {/*extra large*/
   h3 {
    font-size: 30px;
  }
  p {
    font-size: 19px !important;
  }
}