<div class="row" *ngIf="companyInfo">
  <div class="col-12 col-md-6">
      <iframe
    width="100%"
    height="62%"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=telsat%20sas%2CMedellin&key=AIzaSyAKNYGjXohXZJ4D6K5NwSqICaFg5L7xo08" allowfullscreen>
  </iframe>
    <pre>
<strong>{{companyInfo.addresTitle}}</strong>
{{companyInfo.addresLocal}}
{{companyInfo.addresCity}}
    </pre>
  </div>

  <div class="col-12 col-md-6">
    <pre>
{{companyInfo.contactTitle}}
<strong>{{companyInfo.contactPhoneTitle}}</strong> {{companyInfo.contactPhone2}}
<strong>{{companyInfo.contactFaxTitle}}</strong> {{companyInfo.contactFaxPhone}}
<strong>{{companyInfo.emailTitle}}</strong><br> {{companyInfo.email2}}
    
<strong>{{companyInfo.hoursTitle}}</strong>
{{companyInfo.hoursWeek}}
{{companyInfo.hoursWeekend}}

<strong>{{companyInfo.companyName}}</strong>
{{companyInfo.copyRight}}
    </pre>
  </div>
</div>

