 <!-- Modal -->
<div class="modal fade" id="formContactUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form role="form" data-toggle="validator" method="post" action="email">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Nombre" required>
          </div>

          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Apellidos" required>
          </div>

          <div class="form-group">
            <input type="text" name="company" class="form-control" placeholder="Empresa (opcional)">
          </div>

          <div class="form-group">
            <input type="email" name="email"  class="form-control" placeholder="Correo electrónico" required>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" id="Mensaje" placeholder="Mensaje" rows="5" required></textarea >
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-raised btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>